body {
  background-color: rgb(114, 150, 227);
  height: calc(100vh - 10px * 2);
  padding: 0px;
  margin: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row img {
  width: 50%;
}